<%- include partial/header %>
<%- include partial/navbar %>
<div class="container bgSetting">
    <form class="form-horizontal" action="/home/applyleave" method="POST" id="leaveForm" enctype="multipart/form-data">
      <div class="form-group row">
          <label class="col-sm-3" for="sel1">Name: </label>
          <div class="col-sm-9">
              <select class="form-control" id="sel1" name="full_name" required>
                 <option disabled selected value="">----- Select Name -----</option>
                 <% for(var i=0; i < Uname.length; i++) { %>
                      <option id="<%= Uname[i].id %>"> <%= Uname[i].first_name %> <%= Uname[i].last_name %></option>
                  <% } %>   
              </select>
          </div>
      </div>
      <input type="hidden" id="selectedUser" name="selectedUser" value="" />
      <div class="form-group row">
          <label class="col-sm-3" for="l_reason">Leave Reason:</label>
          <div class="col-sm-9" id="l_reason" >
              <input class="form-control col-sm-9" type="text" name="l_reason"  placeholder="Enter Leave Reason" value="" required />
          </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-3" for="l_status">Leave Status:</label>
          <div class="col-sm-9">
              <ul class="donate-now" id="l_status">
                <li>
                  <input type="radio" id="applied" name="l_status" value="applied" checked="checked" />
                  <label for="applied">Applied</label>
                </li>
                <li>
                  <input type="radio" id="approved" name="l_status" value="approved" disabled />
                  <label for="approved">Approved</label>
                </li>
                <li>
                  <input type="radio" id="rejected" name="l_status" value="rejected" disabled />
                  <label for="rejected">Rejected</label>
                </li>
              </ul>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-3" for="l_category">Leave Category:</label>
          <div class="col-sm-9">
              <ul class="donate-now" id="l_category">
                <li>
                  <input type="radio" id="casual" name="l_category" value="casual" required/>
                  <label for="casual">Casual</label>
                </li>
                <li>
                  <input type="radio" id="sick" name="l_category" value="sick" />
                  <label for="sick">Sick</label>
                </li>
                <li>
                  <input type="radio" id="personal" name="l_category" value="personal" />
                  <label for="personal">Personal</label>
                </li>
                <li>
                  <input type="radio" id="others" name="l_category" value="other" />
                  <label for="others">Other</label>
                </li>
                <li id="li_maternity">
                  <input type="radio" id="maternity" name="l_category" value="maternity" />
                  <label for="maternity">Maternity</label>
                </li>
              </ul>
          </div>
      </div>
      <div id="divForMaternityLabel" class="form-group row" hidden>
          <label class="col-sm-9 offset-sm-3"> You can apply upto <span id="spanForMaternityDays"></span> days maternity leave without loss of pay.</label>
      </div>
      <div class="form-group row">
          <label class="col-sm-3" for="l_date">Date Duration:</label>
          <div class="col-sm-9" id="l_date">
              From:
              <input  type="date" id="startdate" name="l_sdate" value="" />
              TO:
              <input  type="date" id="enddate" name="l_edate" value="" />
          </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-3" for="l_description">Leave Description:</label>
          <div class="col-sm-9" id="l_description">
              <input class="form-control" type="text" name="l_description" placeholder="Enter description" value="" />
          </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-3" for="l_files">Files:</label>
          <input type="file" id="l_files" class="col-sm-9" name="uploadfiles" value=""/>
          <div class="col-sm-6 col-sm-offset-3" id="displayArea"></div>
      </div>
      <div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>
</div>
